{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}

        <div class="container">
          <h4 style="color:white">Username: {{ username }}</h4>

            <div class="row mt-50">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center heading-separator" style="color:white" >List of Deals</h2>
                    <form method="POST" action="{{ url_for('main_app.home_again', message=message, username=username)}}">
                      <div class="data-tables datatable-dark">
                            <table id="example" class="styled-table">
                                  <thead class="text-capitalize">
                                      <tr>
                                          <th>Owner</th>
                                          <th>Number</th>
                                          <th>Company</th>
                                          <th>Partner</th>
                                          <th>Deal</th>
                                          <th>Status</th>
                                          <th>Thoughts</th>
                                          <th>Notes</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                          {% for deal in my_deals %}
                                          <tr>
                                              <td>{{deal[0]}}</td>
                                              <td>{{deal[1]}}</td>
                                              <td>{{deal[2]}}</td>
                                              <td>{{deal[3]}}</td>
                                              <td>{{deal[4]}}</td>
                                              <td>{{deal[5]}}</td>
                                              <td>{{deal[6]}}</td>
                                              <td>{{deal[7]}}</td>

                                          </tr>
                                          {% endfor %}
                                      </tbody>
                              </table>
                    </div>
                        <div>

                              {{ message }}
                        </div>
                        <div class="text-center mt-20">
                            <button class="btn btn-green">HOME</button>
                        </div>
                    </form>
                </div>
            </div><




  {% endblock %}
