{% extends "base.html" %}

{% include "navbar.html" %}

{% block content %}

        <div class="container">
          <h4 style="color:white">Username: {{ username }}</h4>

            <div class="row mt-50">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center heading-separator" style="color:white" >List of Customers</h2>
                    <form method="POST" action="{{ url_for('main_app.home_again', message=message, username=username)}}">
                      <div class="data-tables datatable-dark">
                            <table id="example" class="styled-table">
                                  <thead class="text-capitalize">
                                      <tr>
                                          <th>Number</th>
                                          <th>Name</th>
                                          <th>Email</th>
                                          <th>Phone</th>
                                          <th>Customer</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                          {% for customer in my_customers %}
                                          <tr>
                                              <td>{{customer[0]}}</td>
                                              <td>{{customer[1]}}</td>
                                              <td>{{customer[3]}}</td>
                                              <td>{{customer[2]}}</td>
                                              <td>{{customer[4]}}</td>
                                          </tr>
                                          {% endfor %}
                                      </tbody>
                              </table>
                    </div>
                        <div>

                              {{ message }}
                        </div>
                        <div class="text-center mt-20">
                            <button class="btn btn-green">HOME</button>
                        </div>
                    </form>
                </div>
            </div><




  {% endblock %}
