
{% extends "base.html" %}

{% include "navbar.html" %}

{% include "news.html" %}

{% block content %}
<div class="col-lg-12">
       <!-- seo fact area start -->
         <div class="card">
               <div class="card-body"
               <h2 class="header-title">System</h2>
               <div class="news red">
                 <span>Latest News</span>
                 <ul>
                   <div class="news red">
                     <span>Latest News</span>
                     {{ lookie }}
                      <ul>
                        <li><a href="#">Text 1</li>
                        <li><a href="#">Text 2</a></li>
                        <li><a href="#">Text 3</a></li>
                        <li><a href="#">Text 4</a></li>
                      </ul>
                  </div>
                </div>

     </div>
 </div>
   {% endblock %}
